@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@500&family=Poppins:wght@100;200;300;500&display=swap");

//to use your own loacal custom font
@font-face {
  //name anything to font
  font-family: "myfont";
  src: url(../fonts/Roboto-Regular.ttf);
  font-style: normal;
  font-weight: 400;
}

* {
  margin: 0;
  box-sizing: border-box;
  &::after,
  &::before {
    box-sizing: border-box;
  }
}

html,
body {
  overflow-x: hidden;
}

body {
  font-family: "Poppins", sans-serif;
  //to make sure in all the browsers our site have same look
  line-height: 1.5;
  //to make sure that the edges of the fonts are sharp for  some browsers
  -webkit-font-smoothing: antialiased;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

button,
input,
textarea,
select {
  font: inherit;
}
img,
video,
canvas,
svg {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

//------------- Variables----------
$green_loader: rgb(89, 144, 6);
$loader_blue_background: rgb(13, 7, 128);
$loader_light_green: rgb(7, 196, 7);
$purple-color: #ed0265;
$blue_color: #3954eb;
$yellow-color: #f1f500;


//------------ predefined classes----------------
.section{
  padding: 1rem;
  overflow: hidden;
  min-heigth : 100vh;
  padding-top: 5rem;

  @media (min-width:650px){
    padding: 5rem;
  }
}